<h2>Edit The Movie</h2>

<form action="/movies/{{_id}}/edit" method="POST">

<label>Title of the movie
    <input type="text"  value="{{data.title}}" name="title">
</label>

<label>Genre of the movie
    <input type="text" value="{{data.genre}}"  name="genre">
</label>

<label>Plot of the movie
    <input type="text" value="{{data.plot}}"  name="plot">
</label>

<select name="cast" id="celebrity" multiple>Cast of the movie
    {{#each celebrityFromDb}}
        <option disable selected value="{{_id}}">{{name}}</option>
    {{/each}}
</select>

<button type="submit">Edit the Movie!</button>

</form>

  
  
  
  

